#perfil{
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-top: -6%;
    margin-right: 25px;
}

.infos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #DAC3E8;
    padding: 50px;
    margin: 50px 400px 50px 400px;
    border-radius: 50px;
    box-shadow: -31px 28px 39px 5px rgba(84, 59, 133, 0.68);
}

.inicio{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: start;
}